.header-nav {
  background-color: #2243a4;
  color: white;
}

.header-nav .navbar-brand,
.header-nav .nav-link,
.header-nav {
  color: white !important;
}

.menu-icon {

  align-items: center;
  padding: 0 30px;
  width: 2%;
  margin-left: 50px;
}